[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Qest"]
	path = Qest
	url = https://github.com/cran/Qest
[submodule "changepointsVar"]
	path = changepointsVar
	url = https://github.com/cran/changepointsVar
[submodule "clustEff"]
	path = clustEff
	url = https://github.com/cran/clustEff
[submodule "islasso"]
	path = islasso
	url = https://github.com/cran/islasso
[submodule "qrcmNP"]
	path = qrcmNP
	url = https://github.com/cran/qrcmNP
